*{
    margin: 0;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;

}
/* box2 */
.addf{
    color:#cccccc;
    font-size: 1rem;
}
.adds{
    font-size: 1rem;
    margin-left: 3px;
}
.addicon{
    display: flex;
    align-items: center;
}
/* box3 */
.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 4px;
}
/* box4 */
.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    border:none;
}
.searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem ;
    background-color: rgb(238, 150, 17);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color:#0f1111;

}
.searchicon:hover{
    border: 2px solid orange;


}
/* box5 */
.span{
    font-size: 0.7rem;
}
.navsec{
    font-size: 0.85rem;
    font-weight: 700;

}
/* box6 */
.navcart i {
    font-size: 30px;
    font-weight: 700;

}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.panelops p{
    display: inline;
    margin-left: 10px;
}
.panelops{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.9rem;
    font-size: 700;

}
.mainsection{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.msg{
    background-color: white;
    color:black;
    height: 40px;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.msg a{
    color: #007185;
}
/* Shop Section */
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 740px;
    background-color: #d2d8db;
}
.box{
    /* border: 2px solid black; */
    height:300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boximg{
    height: 200px;
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;

}
.boxcontent p{
    color:#007185
}
/* Footer */
footer{
    margin-top: 1px;
}
.foot1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot2{
    background-color: #222f3d;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;

}
.foot3{
    background-color: #222f3d;
    color: white;
    border-top: 0.4px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('amazon_logo.png'); */
}
.footlogo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    
}
.foot4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
   
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding: 20px;

}
.copyrights{
    padding-top: 1px;
   
}